<% load 'docs.rb' %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= `hostname` %>main page</title>
<style>
html { color-scheme: dark light; font-family: sans-serif; }
</style>
  </head>
  <body>
    <ul>
      <% for d in $docs do %>
        <li><a href="http://<%= d[:prefix] %>.localhost"><%= d[:prefix] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
